@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

#navbar-content ul li {
    color: black;
    font-weight: bolder;
}

#navbar-content ul li a {
    text-decoration: none;
    color: black;
}

#navbar-content ul li a:hover {
    color: #c0392b;
    font-size: 20px;
}

nav,
hr {
    /* background: #c0392b; */
    background-image: linear-gradient(20deg, #c0392b,#ff6666, #000000f2);
}

.Side-nav {
    background-image: linear-gradient(65deg, #c0392b, rgba(254, 250, 156, 0.94));
}

#main {
    color: black;
}

.Section-Container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 20px;
}

#courses {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: max-content;
    background: #c0392b 94%;
    padding: 3px;
}

/* #courses div {
    display: block; 
    margin: 5px 0px;
    padding: 10px;
} */

.courses {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
}

.drop-btn {
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
}

.dropdown {
    background-color: blueviolet;
    width: 60px;
}

.drop-content {
    display: none;
    background-color: darkcyan;
}

.drop-content a {
    text-decoration: none;
    color: ghostwhite;
}

#course-cont {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    width: 800px;
    padding: 15px;
    background-color: aliceblue;
    margin: 15px 0px;
}

.course-container {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    /* align-items: center; */
    /* justify-content: space-between; */
    width: max-content;
    background-color: aliceblue;;
    margin: 5px 0px;
    padding: 10px;
    box-shadow: none;
}

.module-edit {
    /* background: whitesmoke; */
    outline: none;
    padding: 10px;
    border-radius: 2px;
}

#courses div h5 {
    /* background-color: aliceblue;
    margin: 3px;
    height: 60px;
    padding: 10px; */
    font-size: 25px;
    font-family: 'Manrope', sans-serif;
}

#card {
    background: #FCFF77;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
}

#info h2 {
    font-family: 'Manrope', sans-serif;
    text-align: center;
}

#info img {
    margin: 10px 80px;
}

p {
    text-align: left;
    font-family: 'Manrope', sans-serif;
}

footer p {
    text-align: center;
}